.passwort-feld[type=password] ~ .passwort-button .passwort-verstecken-icon,
.passwort-feld[type=text] ~ .passwort-button .passwort-anzeigen-icon {
    display: none;
}

.passwort-behaelter {
    position: relative;
    width: 40%;
}

.passwort-feld {
    width: 100%;
    padding-right: 1.5em;
    box-sizing: border-box;
}

.passwort-button {
    position: absolute;
    right: 0.25em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}